{% extends "Base/template.html" %}

{% load static %}
{% block contenidoQueCambia %}
<!-- Publicar Start -->
<style>
    #id_titulo, #id_subtitulo, #id_parrafo, #id_autor {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
<main class="container-fluid">
    <section class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row">
            <div>
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">Borrar</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <h6 class="text-uppercase font-weight-bold mb-3">Eliminar post</h6>
                    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group">
                            <p>¿Estas seguro que deseas eleiminar "{{object.titulo}}"?</p>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                type="submit">Borrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Publicar End -->
{% endblock %}