{% extends "Base/template.html" %}

{% load static %}
{% block contenidoQueCambia %}
<!-- Publicar Start -->
<main class="container-fluid">
    <section class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row">
            <div>
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">Publicar</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <h6 class="text-uppercase font-weight-bold mb-3">Nuevo posteo</h6>
                    <form method="POST"> {% csrf_token %}
                        <div class="form-group">
                            {{miFormulario.titulo}}
                        </div>
                        <div class="form-group">
                            {{miFormulario.subtitulo}}
                        </div>
                        <div class="form-group">
                            {{miFormulario.parrafo}}
                        </div>
                        <div class="form-group">
                            {{miFormulario.autor}}
                        </div>
                        <div class="form-group">
                            {{miFormulario.imagen}}
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                type="submit">Publicar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Publicar End -->
{% endblock %}