{% extends "Base/template.html" %}

{% load static %}
{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    
        <!-- About Start -->
        <main class="container-fluid pt-5 mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-title">
                                    <h4 class="m-0 text-uppercase font-weight-bold">¿Quiénes somos?</h4>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row news-lg mx-0 mb-3">
                                    <div class="col-md-5 h-100 px-0">
                                        <img class="img-fluid h-100" src="{%static 'Base/img/news-700x435-5' %}.jpg" style="object-fit: cover;">
                                    </div>
                                    <div class="col-md-7 d-flex flex-column border bg-white h-100 px-0">
                                        <div class="mb-auto p-4">
                                            <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="">Sobre Nosotros</a>
                                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quasi veniam autem fuga sequi nemo optio dignissimos odit dicta facilis, minima, rem laudantium id voluptate totam sit assumenda maxime tenetur?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <a href=""><img class="img-fluid w-100" src="{%static 'Base/img/ads-728x90.png' %}" alt=""></a>
                            </div>
                            <div class="col-12">
                                <div class="section-title">
                                    <h4 class="m-0 text-uppercase font-weight-bold">El equipo</h4>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-center align-items-start bg-white mb-3 px-3 py-3" style="height: 450px;">
                                    <img class="img-fluid mt-3 col-4" src="{%static 'Base/img/user.jpg' %}" alt="">
                                    <div class="w-100 h-100 d-flex flex-column justify-content-start mt-3 col-8">
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Full Stack Developer</a>
                                        </div>
                                        <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Cesar Astorga</a>
                                        <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quasi veniam autem fuga sequi nemo optio dignissimos odit dicta facilis, minima, rem laudantium id voluptate totam sit assumenda maxime tenetur?</p>
                                        <h6 class="h6 mb-3 text-secondary text-uppercase font-weight-bold" href="">Skills</h6>
                                        <div class="d-flex">
                                            <ul class="mb-3">
                                                <li>Html</li>
                                                <li>Css</li>
                                                <li>Sass</li>
                                                <li>Bootstrap</li>
                                                <li>JavaScript</li>
                                                <li>React Js</li>
                                                <li>Php</li>
                                                <li>Laravel</li>
                                            </ul>
                                            <ul>
                                                <li>Java</li>
                                                <li>MySQL</li>
                                                <li>Python</li>
                                                <li>Django</li>
                                                <li>C++</li>
                                                <li>Git</li>
                                                <li>Github</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- About End -->
{% endblock %}